---
openapi: 3.0.0
info:
  title: Entso-e Transparency Restful API
  description: " # <img src='images/confetti50.gif'> You asked for it and we listened! \n * With this document our aim is to provide a developer-friendly technical documentation for Entso-e Transparency Platform Restful API. \n\n * This documentation is prepared according to openAPI 3.0.0 specification (OAS) standards. \n\n # <img src='images/document50.gif'> How to get security token:\n\n * ### <a href='docs\transparency_platform_how_to_get_security_token.pdf' target='_blank'>Read me</a> \n\n # <img src='images/error50.gif'> Please read before going any further:\n\n * First things first, you need a valid security token to get data via web API. Thus, you must first register (it is free) to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website (click Login link on top right corner then click Register link at the bottom of the page). After registration you need to login and go to 'my account settings' page and create a web api security token. This security token will be sent in every http request call. \n\n * New data items are introduced quite often so you might want to take a look at the documentation and transparency website regularly \n\n * As far as API is concerned, contrary to the general approach there is only one route (<a href='https://web-api.tp.entsoe.eu/api'>https://web-api.tp.entsoe.eu/api</a>) and requesting different data items is done via sending different parameters (process type, document type etc.). To comply with openAPI standards we needed to introduce so-called route names (i.e. '/api<b>/6.1.A</b>'). Please do not forget to remove the trailing part (i.e. '<b>/6.1.A</b>') while making a http request (unfortunately 'Try it out' buttons in this page will not work). \n\n * This document is only covering GET method since it is very commonly used / preferred by end users. \n\n # <img src='images/mail50.gif'> We would like to hear from you.\n\n * Please do not hesitate to reach us via e-mail and give feedback."
  contact:
    name: Transparency Team
    url: https://transparency.entsoe.eu
    email: transparency@entsoe.eu
  version: "0.1.9"
servers:
- url: https://web-api.tp.entsoe.eu
paths:
  /api/6.1.A:
    $ref: 'components/paths/path_6.1.A.yaml#/path_6.1.A'
  /api/6.1.B:
    $ref: 'components/paths/path_6.1.B.yaml#/path_6.1.B'
  /api/6.1.C:
    $ref: 'components/paths/path_6.1.C.yaml#/path_6.1.C'
  /api/6.1.D:
    $ref: 'components/paths/path_6.1.D.yaml#/path_6.1.D'
  /api/6.1.E:
    $ref: 'components/paths/path_6.1.E.yaml#/path_6.1.E'
  /api/8.1:
    $ref: 'components/paths/path_8.1.yaml#/path_8.1'
  /api/14.1.A:
    $ref: 'components/paths/path_14.1.A.yaml#/path_14.1.A'
  /api/16.1.D:
    $ref: 'components/paths/path_16.1.D.yaml#/path_16.1.D'
components:
  schemas:
    Acknowledgement_MarketDocument:
      type: object
      $ref: 'components/schemas/Acknowledgement_MarketDocument.yaml#/Acknowledgement_MarketDocument'
    GL_MarketDocument: 
      type: object
      $ref: 'components/schemas/GL_MarketDocument.yaml#/GL_MarketDocument'