---
openapi: 3.0.0
info:
  title: Entso-e Transparency Restful API
  description: " # <img src='images/confetti50.gif'> You asked for it and we listened! \n * With this document our aim is to provide a developer-friendly technical documentation for Entso-e Transparency Platform Restful API. \n\n * This documentation is prepared according to openAPI 3.0.0 specification (OAS) standards. \n\n * Please check out our knowledge base <a href='https://transparencyplatform.zendesk.com/hc/en-us/sections/12783116987028-Web-API' target='_blank'> articles </a> to have some insights before you get started. \n\n # <img src='images/mail50.gif'> We would like to hear from you.\n\n * Please do not hesitate to reach us via e-mail and give feedback. \n\n * <a href='https://transparency.entsoe.eu' target='_blank'>Transparency Platform</a> \n\n * Send <a href='mailto:transparency@entsoe.eu'>e-mail</a> to Transparency Platform Support Team. "
  version: "0.2.0"
servers:
- url: https://web-api.tp.entsoe.eu
paths:
  /api/6.1.A:
    $ref: 'components/paths/path_6.1.A.yaml#/path_6.1.A'
  /api/6.1.B:
    $ref: 'components/paths/path_6.1.B.yaml#/path_6.1.B'
  /api/6.1.C:
    $ref: 'components/paths/path_6.1.C.yaml#/path_6.1.C'
  /api/6.1.D:
    $ref: 'components/paths/path_6.1.D.yaml#/path_6.1.D'
  /api/6.1.E:
    $ref: 'components/paths/path_6.1.E.yaml#/path_6.1.E'
  /api/8.1:
    $ref: 'components/paths/path_8.1.yaml#/path_8.1'
  /api/14.1.A:
    $ref: 'components/paths/path_14.1.A.yaml#/path_14.1.A'
  /api/16.1.D:
    $ref: 'components/paths/path_16.1.D.yaml#/path_16.1.D'
  /api/16.1.B-C:
    $ref: 'components/paths/path_16.1.B-C.yaml#/path_16.1.B-C'
  /api/16.1.A:
    $ref: 'components/paths/path_16.1.A.yaml#/path_16.1.A'
  /api/14.1.C:
    $ref: 'components/paths/path_14.1.C.yaml#/path_14.1.C'
  /api/14.1.D:
    $ref: 'components/paths/path_14.1.D.yaml#/path_14.1.D'
  /api/14.1.B:
    $ref: 'components/paths/path_14.1.B.yaml#/path_14.1.B'
components:
  schemas:
    Acknowledgement_MarketDocument:
      type: object
      $ref: 'components/schemas/Acknowledgement_MarketDocument.yaml#/Acknowledgement_MarketDocument'
    GL_MarketDocument: 
      type: object
      $ref: 'components/schemas/GL_MarketDocument.yaml#/GL_MarketDocument'