---
openapi: 3.0.0
info:
  title: Entso-e Transparency Restful API
  description: "<div id='emo01'></div> \n\n ## &#128679; (Beta version) \n\n # &#128226; You asked for it and we listened! \n With this document our aim is to provide a developer-friendly technical documentation for Entso-e Transparency Platform Restful API. This documentation is prepared according to openAPI 3.0.0 specification (OAS) standards.  \n\n # &#10071; Please read before going any further:\n\n * Contrary to the general approach there is only one resource (/api) and requesting different data items is done via sending different parameters. To comply with OAS we needed to introduce so-called resource names (i.e. '/api<b>/6.1.A</b>'). Please do not forget to remove the trailing part (i.e. '<b>/6.1.A</b>') while making a http request. \n * This document is only covering GET method since it is very commonly used / preferred by end users. \n\n # &#128071;&#128071;&#128071; We would like to hear from you."
  contact:
    name: Transparency Team
    url: https://transparency.entsoe.eu
    email: transparency@entsoe.eu
  version: "0.1.4"
servers:
- url: https://web-api.tp.entsoe.eu
paths:
  /api/6.1.A:
    $ref: 'components/paths/path_6.1.A.yaml#/path_6.1.A'
  /api/6.1.B:
    $ref: 'components/paths/path_6.1.B.yaml#/path_6.1.B'
  /api/6.1.C:
    $ref: 'components/paths/path_6.1.C.yaml#/path_6.1.C'
  /api/6.1.D:
    $ref: 'components/paths/path_6.1.D.yaml#/path_6.1.D'
  /api/6.1.E:
    $ref: 'components/paths/path_6.1.E.yaml#/path_6.1.E'
  /api/8.1:
    $ref: 'components/paths/path_8.1.yaml#/path_8.1'
components:
  schemas:
    Acknowledgement_MarketDocument:
      type: object
      $ref: 'components/schemas/Acknowledgement_MarketDocument.yaml#/Acknowledgement_MarketDocument'
    GL_MarketDocument: 
      type: object
      $ref: 'components/schemas/GL_MarketDocument.yaml#/GL_MarketDocument'