---
openapi: 3.0.0
info:
  title: Entso-e Transparency Restful API
  description: "## &#128679; (Beta version) \n\n # &#128226; You asked for it and we listened! \n With this document our aim is to provide a developer-friendly technical documentation for Entso-e Transparency Platform Restful API. This documentation is prepared according to openAPI specification (OAS) standards.  \n\n # &#10071; Please read before going any further:\n\n * In order to separate the data items we have introduced so-called resource names (i.e. '/api<b>/6.1.A</b>'). This made us stick with the OAS standards. Please keep in mind that we have only one resource ('/api') and remove the trailing part (i.e. '/6.1.A') while making a http request. \n * This document is only covering GET method since it is very commonly used / preferred by end users. \n\n # &#128071; We would like to hear from you."
  contact:
    name: Transparency Team
    url: https://web-api.tp.entsoe.eu
    email: transparency@entsoe.eu
  version: "0.1"
servers:
- url: https://web-api.tp.entsoe.eu
paths:
  /api/6.1.A:
    get:
      tags:
      - 6.1.A Actual Total Load
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/6.1.B</s>    \nActual total load per bidding zone per market time unit, the total load being defined as equal to the sum of power generated by plants on both TSO/DSO networks, from which is deduced  - the balance (export-import) of exchanges on interconnections between neighbouring bidding zones. - the power absorbed by energy storage resources. The information shall be published at the latest H+1 after the end of the operating period. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A65
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A16
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/6.1.B:
    get:
      tags:
      - 6.1.B Day-ahead Total Load Forecast
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/6.1.B</s>    \n A day-ahead forecast of the total load per market time unit per bidding zone at the latest two hours before the gate closure time of the day-ahead market in the bidding zone or at D-1, 12:00 in local time zone of the bidding zone at the latest when gate closure time does not apply. The day-ahead forecast has to be updated, if there are major changes. A major change represents a change of at least 10% of the total load forecast in one market time unit. The primary owners of the data are TSOs and DSOs; \n\n The forecast of load: \n\n − is given for information purposes only. \n\n − is drawn up, among other things, on the basis of meteorological data ahead of time. It is therefore likely to change in shape and level. \n\n Note: The day-ahead forecast is calculated (estimated) on the historic load profile on similar days, taking into account the variables that affect electricity demand, such as weather conditions, climate and socioeconomic factors. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A01&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A65
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A16
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/6.1.C:
    get:
      tags:
      - 6.1.C Week-ahead Total Load Forecast
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/6.1.C</s>    \n A week-ahead forecast of the total load per bidding zone per day, for every day of the coming week W maximum and  minimum load values (14 individual data), each Friday at the latest two hours before the gate closure time of the day-ahead market in the bidding zone or at 14:00 in local time zone of the bidding zone when gate closure hour doesn’t apply. A week  starts on Monday 00:00 hrs and ends on Sunday at 24:00 hrs (in accordance with ISO 8601). Week-ahead estimated loads  shall be updated, if there are major changes. A major change represents a change of at least 10% of the total load forecast per market time unit. The primary owners of the data are TSOs and DSOs; \n\n Nevertheless, the forecast of load of the following week is given: \n\n − for information purposes only. \n\n − It is drawn up, among other things, on the basis of weather forecast ahead of time. \n\n It is therefore likely to change considerably in shape and level. Note: The week-ahead forecast is calculated (estimated) on the  historic load profile on similar days, taking into account the  variables that affect electricity demand, such as weather conditions, climate and socioeconomic factors. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A31&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A65
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A16
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/6.1.D:
    get:
      tags:
      - 6.1.D Month-ahead Total Load Forecast
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/6.1.D</s>    \n A month ahead forecast of the total load per bidding zone, for every week of the coming month M, maximum and minimum load values. The primary owners of the data are TSOs and DSOs; \n\n This shall be published one week before the first day of the month which the data refers to. \n\n The week is in the month if the Monday is in the month Nevertheless, the forecast of load for the following month is based on historical load values. A more detailed forecast is provided for the coming week, when precise weather forecasts are available. It may, therefore, vary significantly in terms of both shape and level.\n\n Note: The month-ahead forecast is calculated (estimated) on the historic load profile on similar days.\n\n Note 2: Higher resolution is allowed. Highest resolution is MTU. In that case, the maximum and minimum load values for each week will be published \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A32&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A65
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A32
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/6.1.E:
    get:
      tags:
      - 6.1.E Year-ahead Total Load Forecast
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/6.1.E</s>    \n A year-ahead forecast of the total load per bidding zone for the following year, for every week of the coming year Y maximum and minimum load values. The primary owners of the data are TSOs and DSOs;\n\n This shall be published at the latest the 15th calendar day of the month just before the rolling year which data refers to. The week with the first Thursday in the year is considered as Week Number 1 in the year (ISO 8601).\n\n Nevertheless, the forecast of load for the following year is based on historical load values. A more detailed forecast is provided later, when precise weather forecast (weekly, daily) is available. It may, therefore, vary significantly in terms of both shape and level. \n\n Note: The year-ahead forecast is calculated (estimated) on the historic load profile on similar days.\n\n Note 2: Higher resolution is allowed. Highest resolution is MTU. In that case, the maximum and minimum load values for each week will be published. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A31&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A65
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A33
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/8.1:
    get:
      tags:
      - 8.1 Year-ahead Forecast Margin
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/8.1</s>    \n A year-ahead forecast margin, which is defined as the difference between yearly forecast of available generation capacity and yearly forecast of total load, taking into account the forecast of total generation capacity, forecast of availability of generation and forecast of reserves contracted for system services.  \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A70&processType=A33&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A70
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A33
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/14.1.A:
    get:
      tags:
      - 14.1.A Installed Capacity per Production Type
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/14.1.A</s>    \n The sum of installed Net generation capacity (MW) per control area for all existing production units equaling to or exceeding 1 MW installed generation capacity, per production type. The information shall be published annually no later than one week before the end of the previous year. The installed net generation capacity refers to to the generation capacity which is effectively installed on January 1st of the following year.  \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A68&processType=A33&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A68
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A33
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/16.1.D:
    get:
      tags:
      - 16.1.D Water Reservoirs and Hydro Storage Plants
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/16.1.D</s>    \n Aggregated weekly average filling rate of all water reservoir and hydro storage plants (MWh) per bidding zone including the figure for the same week of the previous year. The information shall be published on the third working day following the week to which the information relates. The information shall be provided for all bidding zones only in Member States with more than 10% feed-in of this type of generation per year or for bidding zones with more than 30% feed-in of this type of generation per year  \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A68&processType=A33&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A72
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A16
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/16.1.B-C:
    get:
      tags:
      - 16.1.B-C Actual Generation per Production Type
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/16.1.B-C</s>    \n Actual aggregated Net generation output (MW) per market time unit and per production type. The information shall be published no later than one hour after the operational period.\n\n Actual or estimated generation wind and solar power Net generation (MW) in each bidding zone per market time unit. The information shall to be published no later than one hour after the end of each operating period (of one market time unit length) and be updated on the basis of measured values as soon as they become available. The information shall be published for all bidding zones in Members sates with more than 1 % feed-in of wind or solar power generation per year or for bidding zones with more than 5 % feed-in of wind or solar power generation per year. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A65&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A74&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A74
          - A75
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A16
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/16.1.A:
    get:
      tags:
      - 16.1.A Actual Generation per Generation Unit
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/16.1.A</s>    \n Actual net generation output (MW) per market time unit and per generation unit of 100 MW or more installed generation capacity. The information shall be published five days after the end of the operational period \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A73&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A74&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A73
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A16
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/14.1.C:
    get:
      tags:
      - 16.1.C Generation Forecast - Day ahead
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/16.1.C</s>    \n An estimate of the total scheduled Net generation (MW) per bidding zone, per each market time unit of the following day. The information shall be published no later than 18h Brussels time, one day before actual delivery takes place. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A71&processType=A01&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A74&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A71
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A01
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/14.1.D:
    get:
      tags:
      - 14.1.D Generation Forecasts for Wind and Solar
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/14.1.D</s>    \n A forecast of wind and solar power net generation (MW) per bidding zone, per each market time unit of the following day. \n\n * Current forecast: The information published is the last update of the current forecast. The information shall be regularly updated and published during intra-day trading;\n\n * Day ahead forecast at 18.00: The information shall be published no later than 18.00 Brussels time, one day before actual delivery takes place. This value is the most recent forecast at 18:00 the day before; \n\n * Intraday forecast at 8.00: at least one update to be published at 8.00 Brussels time on the day of actual delivery for intra-day. This value is the most recent forecast at 8:00 the day of delivery.\n\n The information shall be provided for all bidding zones only in Member States with more than 1 % feed-in of wind or solar power generation per year or for bidding zones with more than 5% feed-in of wind or solar power generation per year. \n\n Forecasts of wind and solar power net generation (MW) per bidding zone, per each market time unit of the following day: \n\n * Current forecast \n\n * Day ahead forecast at 18.00 \n\n * Intraday forecast at 8.00 \n\n Detailed description of this information that will be published independently: \n\n * Current forecast: The information published is the last update of the forecast. The information shall be regularly updated. \n\n *  Day ahead forecast at 18.00: The information is a fixed value, i.e. the current forecast at 18.00 the day before. The information shall be published no later than 18.00 Brussels time, one day before actual delivery takes place and shall not be regularly updated after 18.00. \n\n *  Intraday forecast at 8.00: The information is a fixed value, i.e. the current forecast at 8.00 the day of delivery. The information shall be published at 8.00 Brussels time on the day of actual delivery for intraday and shall not be regularly updated after 8.00. \n\n The information shall be provided for all bidding zones only in Member States with more than 1 % feed-in of wind or solar power generation per year or for bidding zones with more than 5% feed-in of wind or solar power generation per year. \n\n Note: every submission has to be published at least as “current forecast”. For example, the last forecast submitted before 18.00 in D-1 will be published as “day ahead forecast at 18.00” but also as “current forecast”. In the same manner, the forecast published at 8.00 the day of delivery will be published twice, as “current forecast” and “intraday forecast at 8.00” as well \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A69&processType=A01&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A74&processType=A16&outBiddingZone_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: outBiddingZone_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A69
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A01
          - A40
          - A94
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
  /api/14.1.B:
    get:
      tags:
      - 14.1.B Installed Capacity Per Production Unit
      description: "# &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#9757; /api<s>/14.1.B</s>    \n Information about production units (existing and planned) with an installed generation capacity equalling to or exceeding 100 MW. The information shall contain: \n\n * the unit name; \n\n * the installed net generation capacity (MW); \n\n * the location; \n\n * the voltage connection levels; \n\n * the bidding zone; \n\n * the control area; \n\n * the production type; \n\n * the commissioning date (when available); and \n\n * the decommissioning date (when available) \n\n Note: The definitions of the commissioning and decommissioning date are out of scope for TSOs and, in order to ensure qualitative data publications, it shall be drafted by NRAs in coordination with primary owners of the data taking into account the ongoing discussions. \n\n The information shall be published annually for the three following years no later than one week before the beginning of the first year to which the data refers. Information should refer to January 1st of each year for the 3 following years. \n\n <b>Example web browser get method (replace &#128071;MYTOKEN with yours)</b> \n\n <a href=\"https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A71&processType=A33&in_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300\">https://web-api.tp.entsoe.eu/api?securityToken=MYTOKEN&documentType=A71&processType=A33&in_Domain=10YCZ-CEPS-----N&periodStart=201512312300&periodEnd=201612312300</a>"
      parameters:
      - name: securityToken
        in: query
        description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1fbe3cd7-0055-4188-bb37-4c6728687251
      - name: in_Domain
        in: query
        description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'control area'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 10YCZ-CEPS-----N
      - name: documentType
        in: query
        description: The document type describes the principal characteristic of the document. For each data item this value might change
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A71
      - name: processType
        in: query
        description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - A33
      - name: periodStart
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      - name: periodEnd
        in: query
        description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "201601010000"
      responses:
        "200":
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GL_MarketDocument'
              examples:
                GL_MarketDocument:
                  $ref: '#/components/examples/GL_MarketDocument'
        "400":
          description: Invalid query attributes or parameters
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_400'
        "401":
          description: Unauthorized. Missing or invalid security token
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_401'
        "429":
          description: Too many requests - max allowed 400 per minutes from each unique IP
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement_MarketDocument'
              examples:
                Acknowledgement_MarketDocument:
                  $ref: '#/components/examples/Acknowledgement_MarketDocument_429'
components:
  schemas:
    Acknowledgement_MarketDocument:
      type: object
      $ref: 'components/Acknowledgement_MarketDocument.yaml'
    GL_MarketDocument:
      required:
      - GL_MarketDocument
      type: object
      properties:
        xmlns:
          type: string
          example: urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0
          xml:
            attribute: true
        mRID:
          $ref: '#/components/schemas/mRID'
        revisionNumber:
          type: integer
        type:
          type: string
        processType:
          type: string
        sender_MarketParticipant.mRID:
          $ref: '#/components/schemas/SenderMarketParticipantMRID'
        sender_MarketParticipant.marketRole.type:
          $ref: '#/components/schemas/sender_MarketParticipant.marketRole.type'
        receiver_MarketParticipant.mRID:
          $ref: '#/components/schemas/ReceiverMarketParticipantMRID'
        receiver_MarketParticipant.marketRole.type:
          $ref: '#/components/schemas/receiver_MarketParticipant.marketRole.type'
        createdDateTime:
          type: string
        time_Period.timeInterval:
          $ref: '#/components/schemas/time_Period.timeInterval'
        Timeseries:
          $ref: '#/components/schemas/Timeseries'
    SenderMarketParticipantMRID:
      type: object
      properties:
        codingScheme:
          type: string
          xml:
            attribute: true
        v:
          type: string
    ReceiverMarketParticipantMRID:
      type: object
      properties:
        codingScheme:
          type: string
          xml:
            attribute: true
        v:
          type: string
    time_Period.timeInterval:
      required:
      - end
      - start
      type: object
      properties:
        start:
          type: string
        end:
          type: string
    Timeseries:
      type: array
      items:
        $ref: '#/components/schemas/Timeseries_inner'
    outBiddingZone_Domain.mRID:
      type: object
      properties:
        codingSchema:
          type: string
          xml:
            attribute: true
        v:
          type: string
    inBiddingZone_Domain.mRID:
      type: object
      properties:
        codingSchema:
          type: string
          xml:
            attribute: true
        v:
          type: string
    joe:
      type: object
      properties:
        psrType:
          type: string
        voltage_PowerSystemResources.highVoltageLimit:
          $ref: '#/components/schemas/joe_voltage_PowerSystemResources.highVoltageLimit'
    period:
      type: object
      properties:
        timeInterval:
          $ref: '#/components/schemas/period_timeInterval'
        resolution:
          type: string
        Point:
          type: array
          items:
            $ref: '#/components/schemas/period_Point'
    mRID:
      type: string
    sender_MarketParticipant.marketRole.type:
      type: string
    receiver_MarketParticipant.marketRole.type:
      type: string
    Acknowledgement_MarketDocument_Reason:
      type: object
      properties:
        code:
          type: string
        text:
          type: string
    Timeseries_inner:
      type: object
      properties:
        mRID:
          type: string
        businessType:
          type: string
        objectAggregation:
          type: string
        registeredResource.mRID:
          type: string
        registeredResource.name:
          type: string
        inBiddingZone_Domain.mRID:
          $ref: '#/components/schemas/inBiddingZone_Domain.mRID'
        outBiddingZone_Domain.mRID:
          $ref: '#/components/schemas/outBiddingZone_Domain.mRID'
        quantity_Measure_Unit.name:
          type: string
        curveType:
          type: string
        period:
          $ref: '#/components/schemas/period'
    joe_voltage_PowerSystemResources.highVoltageLimit:
      type: object
      properties:
        highVoltageLimit:
          type: string
          xml:
            attribute: true
    period_timeInterval:
      type: object
      properties:
        start:
          type: string
        end:
          type: string
    period_Point:
      type: object
      properties:
        position:
          type: integer
        quantity:
          type: integer
  parameters:
    securityToken:
      name: securityToken
      in: query
      description: In order to get web api security token you must first register to the <a href= 'https://transparency.entsoe.eu'>https://transparency.entsoe.eu</a> website. Then after successfully logging in you must go to 'my account settings' and create a web api security token.
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: 1fbe3cd7-0055-4188-bb37-4c6728687251
    outBiddingZoneDomain:
      name: outBiddingZone_Domain
      in: query
      description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'Bidding Zone'
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: 10YCZ-CEPS-----N
    inDomain:
      name: in_Domain
      in: query
      description: The possible EIC codes can be found at https://www.entsoe.eu/data/energy-identification-codes-eic/eic-approved-codes/ url. Please select 'EIC Type Code' as 'All Codes' and filter 'FUNCTION' as 'control area'
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: 10YCZ-CEPS-----N
    documentType61A:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A65
    processType61A:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A16
    documentType61B:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A65
    processType61B:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A16
    documentType61C:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A65
    processType61C:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A16
    documentType61D:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A65
    processType61D:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A32
    documentType61E:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A65
    processType61E:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A33
    documentType81:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A70
    processType81:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A33
    documentType141A:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A68
    processType141A:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A33
    documentType161D:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A72
    processType161D:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A16
    documentType161BC:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A74
        - A75
    processType161BC:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A16
    documentType161A:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A73
    processType161A:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A16
    documentType141C:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A71
    processType141C:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A01
    documentType141D:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A69
    processType141D:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A01
        - A40
        - A94
    documentType141B:
      name: documentType
      in: query
      description: The document type describes the principal characteristic of the document. For each data item this value might change
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A71
    processType141B:
      name: processType
      in: query
      description: The process type identifies the type of processing to be carried out on the information. For each data item this value might change.
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - A33
    periodStart:
      name: periodStart
      in: query
      description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: "201601010000"
    periodEnd:
      name: periodEnd
      in: query
      description: Time is always expressed in UTC. Pattern is yyyyMMddHHmm
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: "201601010000"
  examples:
    GL_MarketDocument1:
      value:
        xmlns: urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0
        mRID: 0333ff4c65a847279e71ac5aabe1485e
        revisionNumber: "1"
        type: A65
        process.processType: A16
        sender_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        sender_MarketParticipant.marketRole.type: A32
        receiver_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        receiver_MarketParticipant.marketRole.type: A39
        createdDateTime: 2016-03-30T10:45:36Z
        time_Period.timeInterval:
          start: 2015-12-31T23:00Z
          end: 2016-12-31T23:00Z
        Timeseries:
          $ref: '#/components/examples/Timeseries14.1.B'
    GL_MarketDocument:
      $ref: '#/components/examples/test'
    Acknowledgement_MarketDocument_400:
      value:
        xmlns: urn:iec62325351:tc57wg16:451-1:acknowledgementdocument:7:0
        mRID: be3917c7-0704-4
        createdDateTime: 2016-03-30T10:45:36Z
        sender_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        sender_MarketParticipant.marketRole.type: A32
        receiver_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        receiver_MarketParticipant.marketRole.type: A39
        received_MarketDocument.createdDateTime: 2016-03-30T10:45:35Z
        Reason:
          code: "999"
          text: Invalid query attributes or parameters
    Acknowledgement_MarketDocument_401:
      value:
        xmlns: urn:iec62325351:tc57wg16:451-1:acknowledgementdocument:7:0
        mRID: be3917c7-0704-4
        createdDateTime: 2016-03-30T10:45:36Z
        sender_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        sender_MarketParticipant.marketRole.type: A32
        receiver_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        receiver_MarketParticipant.marketRole.type: A39
        received_MarketDocument.createdDateTime: 2016-03-30T10:45:35Z
        Reason:
          code: "999"
          text: Unauthorized. Missing or invalid security token
    Acknowledgement_MarketDocument_429:
      value:
        xmlns: urn:iec62325351:tc57wg16:451-1:acknowledgementdocument:7:0
        mRID: be3917c7-0704-4
        createdDateTime: 2016-03-30T10:45:36Z
        sender_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        sender_MarketParticipant.marketRole.type: A32
        receiver_MarketParticipant.mRID:
          codingScheme: A01
          v: 10X1001A1001A450
        receiver_MarketParticipant.marketRole.type: A39
        received_MarketDocument.createdDateTime: 2016-03-30T10:45:35Z
        Reason:
          code: "-"
          text: Too many requests - max allowed 400 per minutes from each unique IP
    Timeseries14.1.B:
      value:
      - mRID: "1"
        businessType: A04
        objectAggregation: A01
        outBiddingZone_Domain.mRID:
          codingSchema: A01
          v: 10YCZ-CEPS-----N
        quantity_Measure_Unit.name: MAW
        curveType: A01
        period:
          timeInterval:
            start: 2015-12-31T23:00Z
            end: 2015-12-31T23:00Z
          resolution: PT60M
          Point:
          - position: 1
            quantity: 100
          - position: 2
            quantity: 100
          - position: '...'
            quantity: '...'
          - position: 540
            quantity: 100
      - mRID: "2"
        businessType: A04
        objectAggregation: A01
        outBiddingZone_Domain.mRID:
          codingSchema: A01
          v: 10YCZ-CEPS-----N
        quantity_Measure_Unit.name: MAW
        curveType: A01
        period:
          timeInterval:
            start: 2015-12-31T23:00Z
            end: 2015-12-31T23:00Z
          resolution: PT60M
          Point:
          - position: 1
            quantity: 100
          - position: 2
            quantity: 100
          - position: '...'
            quantity: '...'
          - position: 540
            quantity: 100
    test: {}
