---
openapi: 3.0.0
info:
  title: Entso-e Transparency Restful API
  description: " # <img src='images/confetti50.gif'> You asked for it and we listened! \n * With this document our aim is to provide a developer-friendly technical documentation for Entso-e Transparency Platform Restful API. \n\n * This documentation is prepared according to openAPI 3.0.0 specification (OAS) standards. \n # <img src='images/document50.gif'><a href='docs/transparency_platform_how_to_get_security_token.pdf' target='_blank'> How to get security token</a> \n # <img src='images/error50.gif'><a href='docs/transparency_platform_web_api_new_documentation_introduction.pdf' target='_blank'> Please read before start</a> \n\n # <img src='images/mail50.gif'> We would like to hear from you.\n\n * Please do not hesitate to reach us via e-mail and give feedback."
  contact:
    name: Transparency Team
    url: https://transparency.entsoe.eu
    email: transparency@entsoe.eu
  version: "0.1.9"
servers:
- url: https://web-api.tp.entsoe.eu
paths:
  /api/6.1.A:
    $ref: 'components/paths/path_6.1.A.yaml#/path_6.1.A'
  /api/6.1.B:
    $ref: 'components/paths/path_6.1.B.yaml#/path_6.1.B'
  /api/6.1.C:
    $ref: 'components/paths/path_6.1.C.yaml#/path_6.1.C'
  /api/6.1.D:
    $ref: 'components/paths/path_6.1.D.yaml#/path_6.1.D'
  /api/6.1.E:
    $ref: 'components/paths/path_6.1.E.yaml#/path_6.1.E'
  /api/8.1:
    $ref: 'components/paths/path_8.1.yaml#/path_8.1'
  /api/14.1.A:
    $ref: 'components/paths/path_14.1.A.yaml#/path_14.1.A'
  # /api/16.1.D:
  #   $ref: 'components/paths/path_16.1.D.yaml#/path_16.1.D'
components:
  schemas:
    Acknowledgement_MarketDocument:
      type: object
      $ref: 'components/schemas/Acknowledgement_MarketDocument.yaml#/Acknowledgement_MarketDocument'
    GL_MarketDocument: 
      type: object
      $ref: 'components/schemas/GL_MarketDocument.yaml#/GL_MarketDocument'